@import "../../colors";

.ObjectTree {
    height: 20% !important;
    top: 40% !important;
    border-radius: 5px 0px 0px 5px;
    overflow: hidden !important;

    opacity: .8;
    transition: opacity 1s ease-in;

    &:hover {
        opacity: 1;
    }

    &-list {
        height: 100%; 
        overflow-y: scroll; 
        overflow-x: hidden;
        background-color: lighten($primary-color, 1%) !important;

        &-item {
            margin: 0 !important;
            padding-left: 0 !important;
            background-color: transparent !important;
            cursor: default !important;

            &:hover {
                background-color: rgba($info, .1) !important;
            }

            &--dragging {
                opacity: .5;
            }

            &--dragOver {
                border-style: dotted !important;
                border-width: 1px !important;
            }

            &.Mui-selected {
                background-color: rgba($info, .2) !important;
            }

            .MuiListItemIcon-root {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                margin: 0 15px;
    
                div:first-child {
                    width: 15px;
                    margin-right: 10px;
                    cursor: pointer;

                    svg { 
                        color: $text-color;
                    }
                }
    
                .MuiBox-root {
                    border-radius: 50%;
                    width: 8px;
                    height: 8px;
                }
            }
    
            .MuiListItemText-root {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .MuiTypography-root {
                    color: $text-color !important;
                }
            }
        }

        .MuiCollapse-root {
            transition: height 500ms ease-in;
            padding-left: 23px !important;
        }
    }

    &-dragger {
        width: auto !important;
        cursor: grab !important;
        border-top: none !important;
        height: 97% !important;
        display: flex !important;
        background-color: transparent !important;
        padding: 0 !important;

        .MuiButtonBase-root {
            margin: 0;
            height: 103%;
        }
    }
}