.Editor {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100%;
    
    &-menubar {
        position: relative !important;
        background-color: #ddd !important;
        box-shadow: none !important;
        
        .MuiToolbar-root {
            padding: 0;
            min-height: 32px;
        }
        
        .MuiButton-root {
            text-transform: none;
            color: #666;
            min-width: 50px;
            border-radius: 0;
            
            &:hover, &[aria-expanded] {
                background-color: #2271b1;
                color: #fff;
            }
        }
    }
    
    &-viewport {
        position: relative;
        width: 100%;
        flex: 1;
    }
}