@keyframes shake {
    0%   { transform: rotate(0deg); }
    40%  { transform: rotate(50deg); }
    80%  { transform: rotate(20deg); }
    100% { transform: rotate(30deg); }
}

@mixin shakeAnimation {
    animation-name: shake;
    animation-duration: 800ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}